In [7]:
import numpy as np

In [8]:
def bernoulli(x, y) :
    return (x**2 + y**2 <= 1)



bernoulli(0, 0.75), bernoulli(0.8, 0.8)

(True, False)

In [9]:
N = 10**7
x = np.random.uniform(-1, 1, N)
y = np.random.uniform(-1, 1, N)
B = bernoulli(x, y)
AR = 4
np.mean(B)*AR

3.1413012

In [10]:
def montecarlo2(region, ax, bx, ay, by, N) :
    x = np.random.uniform(ax, bx, N)
    y = np.random.uniform(ay, by, N)
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR

def f_bernoulli(x, y) :
    return (x**2 + y**2 <= 1)
    

montecarlo2(f_bernoulli, -2, 2, -2, 2, 10**5)

3.13904

**Actividad.** Utilizar la anterior función para aproximar el área de la región descrita por

$$4(2x-1)^4+8(2y-1)^8<1+2(2y-1)^3(3x-2)^2$$

Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos).

In [11]:
def desigualdad(x, y) :
    return (4*(2*x-1)**4 + 8*(2*y-1)**8 < 1 + 2*(2*y-1)**3*(3*x-2)**2)

montecarlo2(desigualdad, 0, 1, 0, 1, 100000)

0.54378

In [12]:
import pandas as pd

N = np.logspace(1, 5, 5) # Genera 7 elementos desde 10^1 hasta 10^7 
table = pd.DataFrame(columns=["Aproximación"], index=N)
table

         Aproximación
10.0              NaN
100.0             NaN
1000.0            NaN
10000.0           NaN
100000.0          NaN

In [13]:
for i in N :
    table.loc[i, "Aproximación"] = montecarlo2(desigualdad, 0, 1, 0, 1, int(i))
table

         Aproximación
10.0              0.4
100.0            0.53
1000.0          0.583
10000.0        0.5414
100000.0      0.54571